<footer class="site-footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <h4>Liberal Democrats</h4>
                <p>The Liberal Democrats will use your contact details to send you information on the topics you have requested. Any data we gather will be used in accordance with our privacy policy.</p>
            </div>
            
            <div class="footer-section">
                <h4>Quick Links</h4>
                <ul class="footer-links">
                    <li><a href="/privacy/">Privacy Policy</a></li>
                    <li><a href="/accessibility/">Accessibility Statement</a></li>
                    <li><a href="/cookies/">Cookie Policy</a></li>
                    <li><a href="/contact/">Contact Us</a></li>
                </ul>
            </div>
            
            <div class="footer-section">
                <h4>Get Involved</h4>
                <ul class="footer-links">
                    <li><a href="/volunteer/">Volunteer</a></li>
                    <li><a href="https://libdems.my.salesforce-sites.com/DonationPage/donation/2302-donate">Donate</a></li>
                    <li><a href="/join/">Join the Party</a></li>
                </ul>
            </div>
            
            <div class="footer-section">
                <h4>Follow Us</h4>
                <div class="social-links">
                    <a href="https://facebook.com" aria-label="Facebook">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="https://twitter.com" aria-label="Twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://instagram.com" aria-label="Instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="footer-bottom">
            <p>&copy; {{ now.Year }} Liberal Democrats. Promoted by the Liberal Democrats, 1 Vincent Square, London SW1P 2PN.</p>
            <p>Website by Local Division Team.</p>
        </div>
    </div>
</footer>
